/****************************************
General Css Rules
****************************************/
body {
	background-color: #BCC6CC;
}

/****************************************
Section One Css Rules
****************************************/
.sec-one {
	width: 20%;
	height: 100%;
	padding: .5%;
	float:left;
	display: block;
}

.logo {
	width: 100%;
	height: auto;
	padding-bottom: 10%;
}

.icon {
	padding: .5%;
	width: 40%;
	height: auto;
}

.icon:hover,
.icon.selected {
	background: white;
	opacity: .2;
}

.pair-one,
.pair-two,
.pair-three,
.pair-four {
	width: 100%;
}

/****************************************
Section Two Css Rules
****************************************/
.sec-two {
	width: 75%;
	height: auto;
	padding: .5%;
	float: right;
	margin-right: 2.5%;
}

#ticker {
	width: 100%;
	height: 10%;
	background-color: black;
	color: white;
}

#console {
	width: 100%;
	height: 80%;
	background-color: white;
}